.navbar {
  background-color: #3f454a;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  font-family: Arial, sans-serif;
  border-bottom: 3px solid #00bcd4;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 5px;
  font-size: 16px;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navLinks li {
  display: inline;
}

.navLinks a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.navLinks a:hover {
  text-decoration: underline;
}

.nav {
  display: flex;
  gap: 15px;
}

.nav2 {
  display: flex;
  gap: 15px;
}

.link :hover {
  color: aqua;
}

.navLinks a:hover,
.navLinks a:focus,
.navLinks a:active {
  text-decoration: none;
}
